# ---------------------------------------------------------------------------- #
# scriptLattes                                                                 #
# ---------------------------------------------------------------------------- #
global-nome_do_grupo                      = Teste 01
global-arquivo_de_entrada                 = ./exemplo/teste-01.list
global-diretorio_de_saida                 = ./exemplo/teste-01/
global-email_do_admin                     = admin@email.com
global-idioma                             = PT    # ainda não implementada na versão Python
global-itens_desde_o_ano                  = 2000  # se não for indicado o ano então serão consideradas as publicações
global-itens_ate_o_ano                    = 2017  # identificadas em todos os CVs Lattes
global-itens_por_pagina                   = 1000
global-criar_paginas_jsp                  = nao
global-google_analytics_key               = UA-5266248-1  # usado com contas do google analytics
global-prefixo                            = teste-01      # usado nos arquivos temporários (úteis para futuras análises)
global-salvar_informacoes_em_formato_xml  = sim           # armazenado no arquivo 'database.xml'

global-identificar_publicacoes_com_qualis = sim
global-arquivo_qualis_de_periodicos       = ./exemplo/qualis_computacao_periodicos_2013.csv
global-arquivo_qualis_de_congressos       = ./exemplo/qualis_computacao_conferencias_2012.csv

global-diretorio_de_armazenamento_de_cvs  = ./exemplo/cache # cache de CVs Lattes (se não for indicado então serão utilizadas as últimas versões dos CVs.

# ---------------------------------------------------------------------------- #
# RELATÓRIOS DE PRODUÇÃO EM C,T & A                                            #
# Serão criadas listas de publicações apenas para os  tipos = sim              #
# ---------------------------------------------------------------------------- #
relatorio-salvar_publicacoes_em_formato_ris            = sim  # armazenado no arquivo 'publicacoes.ris'

relatorio-incluir_artigo_em_periodico                  = sim
relatorio-incluir_trabalho_completo_em_congresso       = sim
relatorio-incluir_resumo_expandido_em_congresso        = sim
relatorio-incluir_resumo_em_congresso                  = sim
